* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'lato', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #6633FF;
  background: linear-gradient(to bottom right, #FFCC00, #FF9900, #FF3300);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  background-color: #85C1E9;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  height: 100%;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: auto;
}

.player1-active {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
}

.player1-active .name {
  font-weight: 700;
}

.player-active .score {
  font-weight: 400;
}

.player-active .round {
  opacity: 1;
}

.round {
  background-color: #00325b;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.roundname {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.roundscore {
  font-size: 3.5rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 41%;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
}

.btnnew {
  top: 4rem;
}

.btnroll {
  top: 35rem;
}

.btnhold {
  top: 40rem;
}

.player--winner {
  background-color: #851010;
}

.player--winner .name {
  font-weight: 700;
  color: #e3b915;
}
